<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_wxlftp"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true" 
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"  
        >
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/text_1" />

        <activity android:name=".MainActivity"> 
        </activity>
        <activity
            android:name=".AccessibilityOpenHelperActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":BackgroundService"
            android:taskAffinity="com.open.helper"
            android:theme="@style/Accessibility.Transparent.Activity" />
        <service android:name=".AccessibilitySampleService"
            android:label="@string/accessibility_tip"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>
    </application>


</manifest>
